Repository Schrolli91/BOSWatch, pull requests merged in 2020-04, with the labels that each got.

#426 Update MySQL plugin to enable full UTF-8 support
  CHANGELOG.md
  exampleAddOns/simpleWeb/mysql.class.php
  plugins/MySQL/MySQL.py
  plugins/MySQL/boswatch.sql
Labels: Plugin

#438 GPIO Control
  CHANGELOG.md
  config/config.template.ini
  plugins/gpiocontrol/gpiocontrol.py
Labels: Plugin

#446 Pip requirements - closes #444
  CHANGELOG.md
  plugins/README.md
  plugins/Telegram/requirements.txt
  plugins/yowsup/requirements.txt
Labels: Plugin

#447 MySQL plugin: Ensure correct charset and collaction
  CHANGELOG.md
  plugins/MySQL/MySQL.py
Labels: Bug, Plugin

#449 Namensvergabe POC nur für einzelne Sub-RICs
  CHANGELOG.md
  config/config.template.ini
  csv/poc.template.csv
  includes/descriptionList.py
Labels: BOSWatch, Erweiterung

#450 Release 2 5 1
  CHANGELOG.md
  config/config.template.ini
  csv/poc.template.csv
  includes/descriptionList.py
  includes/globalVars.py
  plugins/MySQL/MySQL.py
  plugins/README.md
  plugins/Telegram/requirements.txt
  plugins/eMail/eMail.py
  plugins/yowsup/requirements.txt
Labels: BOSWatch, Plugin
